
body,html{
    font-family: 'Poly', serif;
    height: 100%;

  }
  
  main {
    margin: 80px 0;
  }
  
  .block {
    background-color: #fff;
  
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
  

  #logo {
    position:relative;
    top:-5px;
   text-shadow: 1px 1px  #F5AE6F,
    2px 2px  #F5AE6F,
    3px 3px  #F5AE6F,
    4px 4px  #F5AE6F,
    5px 5px  #F5AE6F;
    font-size: 3em;
    font-weight: bold;
    margin-right:50px;
    padding-right:50px;
    padding-bottom:20px;
    padding-top:20px;
    opacity:1;
    border-radius: 25px;
    margin-left: 20px;

  }
  .nav-linkp{    margin-right: 20px;}
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    position:sticky;
    background-image: url("https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    border: none;
    opacity:.9;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .container-text{        margin-top: 1%;
    text-shadow:1px 1px;
    opacity:.8;
    margin-left:10%;
    padding: 0 0 5%;
    font-size:1.6em;}

.container {
    padding:2%;
    
}
h1{text-shadow:1px 2px;
letter-spacing:2px;}

#w { font-size:4em;
font-family:'rye', cursive; ;
text-shadow:

            1px 1px  #F5AE6F,
            2px 2px  #F5AE6F,
            3px 3px  #F5AE6F,
            4px 4px  #F5AE6F,
            5px 5px  #F5AE6F,
            6px 6px  #F5AE6F;


}

.jumbotron{background-color: rgb(225	239	243)}
.modal {

    opacity:.1;}

#circle{  height: 100px;
    width: 100px;
    background-color:#60C3D2;
    border-radius: 50%;
    display: inline-block;
    position:fixed;
    z-index:-1;}


#background {  
    height: 230%;
    background-color: rgb(225	239	243);
    position:relative;

    background-image: url("https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

  }

  .container-fluid{
background-attachment:fixed;
    margin-bottom:200px;
  }


  #fade-block{background-color:#39B5C6;
    margin-top:7%;
    height:10%;
    opacity:.7;}

    
    img{height:250px;
        width:200;
        opacity:.8;

    }




.row{
  background-color:inherit;
  border-style:solid;
  border-width:2px;


}
#portfolio-h1{
  margin-left: 60%;
  font-size:4em;}


  #p{font-size:2em;
    font-family:'rye', cursive; ;
    text-shadow:
    
                1px 1px  #F5AE6F,
                2px 2px  #F5AE6F,
                3px 3px  #F5AE6F,
                4px 4px  #F5AE6F,
                5px 5px  #F5AE6F,
                6px 6px  #F5AE6F;
                opacity:.8;
  }
  .d-block {
   padding-left:10%;
    padding-right:10%;
    height:520px;
    
   }

   .carousel-control-prev-icon{
     background-image:none;
     color:#F2933F;
    font-size:3em;
}

  .carousel-control-next-icon{
    color:#F2933F;
    background-image:none;
    font-size:3em;
   
    }

  embed{
    position:relative;
    left: 15%;
  }
  .modal-content{ background-color: rgb(225	239	243);
  }

  #home-link{ text-decoration: none !important;
    color: inherit;  }

  .third-slide {
    color:black;
  }

  #kevin-buchik{color:#F2933F;}

  #resume-header{text-align:center;}

  #r{font-size:2em;
    font-family:'rye', cursive; ;
    text-shadow:
    
                1px 1px  #F5AE6F,
                2px 2px  #F5AE6F,
                3px 3px  #F5AE6F,
                4px 4px  #F5AE6F,
                5px 5px  #F5AE6F,
                6px 6px  #F5AE6F;
    
    }


#contact{
  position:relative;
  font-size:.9em;
  left:100px;
  line-height:5px;
  padding:1px;
  text-align:center;
}

#contact-title{
  text-emphasis:strong;
  position:relative;
  text-decoration:underline;
}

.contact-link {
color:#EE7810
}

a{color:#EE7810;}

a:hover{color:#F5AE6F;}

#carousel-background{background-color:#39B5C6;
  padding-bottom:20px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;}