
body,html{
    font-family: 'Poly', serif;
    height: 100%;
    color:#dff3f1;
    background-color:#2d2113;
  }
  
  main {
    margin: 80px 0;
  }
  
  .block {
    
  
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;

  }
  

  #logo {
    position:relative;
    top:-5px;
   text-shadow: 1px 1px  #6C1404,
    2px 2px  #EC4209,
    3px 3px  #6C1404,
    4px 4px  #EC4209;
  
   

    font-size: 3em;
    font-weight: bold;
    margin-right:50px;
    padding-right:50px;
    padding-bottom:20px;
    padding-top:20px;
    opacity:1;
    border-radius: 25px;
    margin-left: 20px;

  }
  .nav-linkr{color:#60C3D2 !important;
    font-size:1em;}

  .nav-linkp{    margin-right: 50px;
    color:#60C3D2 !important;
    font-size:1em; 
    font-family:Arial, Helvetica, sans-serif
                }
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
    font-family:Arial, Helvetica, sans-serif
  }
  
  .navbar {
    position:sticky;
    border: none;
    opacity:.9;
    margin-right: 13px;
    margin-left: 13px;


  }

  .container-text{   
      margin-top: 1%;
    opacity:.8;
    margin-left:10%;
    padding: 0 0 5%;
    font-size:1.6em;
    position: relative;
    top: -20px;
    right: 80px;  
  }

.container {
    padding:2%;
    
}
h1{
letter-spacing:2px;}

#w { font-size:4em;
font-family:'rye', cursive; ;
text-shadow:

            1px 1px  #6C1404,
            2px 2px  #EC4209,
            3px 3px  #6C1404,
            4px 4px  #EC4209,
            5px 5px  #6C1404,
            6px 6px  #EC4209,
            7px 7px  #6C1404,
            8px 8px  #6C1404;


}

.jumbotron{background-color: rgb(225	239	243)}
.modal {
    
    opacity:.1;}

#circle{  height: 100px;
    width: 100px;
    background-color:#60C3D2;
    border-radius: 50%;
    display: inline-block;
    position:fixed;
    z-index:-1;}


#background {  
    height: 230%;
    background-image: url("assets/elephant2.jpg");
 
    /* background-image: url("https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
    background-attachment: fixed;
    background-position: center;

    background-repeat:no-repeat;
    background-size:98%;
    

  }

  .container-fluid{
background-attachment:fixed;
    margin-bottom:200px;
  }


  #fade-block{background-color:#2d2113;
    margin-top:7%;
    height:10%;
    opacity:.7;}

    
    img{height:250px;
        width:200;
        opacity:1;

    }




.row{
  background-color:inherit;
  border-style:solid;
  border-width:2px;


}
#portfolio-h1{
  margin-left: 60%;
  font-size:4em;}


  #p{font-size:2em;
    font-family:'rye', cursive; ;
    text-shadow:
    
    1px 1px  #6C1404,
    2px 2px  #EC4209,
    3px 3px  #6C1404,
    4px 4px  #EC4209,
    5px 5px  #6C1404;;
                opacity:.8;
  }
  .d-block {
   padding-left:10%;
    padding-right:10%;
    height:520px;
    box-shadow: 10px 15px rgba(0,0,0,0.2); 

    
   }

   .carousel-control-prev-icon{
     background-image:none;
     color:#EC4209;
    font-size:3em;
    text-shadow:0px 3px 15px rgba(0,0,0,0.2);
}

  .carousel-control-next-icon{
    color:#EC4209;
    background-image:none;
    font-size:3em;
   
    }
#resume-holder{
  height:200px;
}
  embed{
    position:relative;
    left: 25%;
  }
  .modal-content{ height:0px;
  }

  #home-link{ text-decoration: none !important;
    color: inherit;  }

  .third-slide {
    color:black;
  }

  #kevin-buchik{color:#60C3D2;
  font-style:bold;}

  #resume-header{text-align:center;}

  #r{font-size:2em;
    font-family:'rye', cursive; ;
    text-shadow:
    
                1px 1px  #60C3D2,
                2px 2px  #60C3D2,
                3px 3px  #60C3D2,
                4px 4px  #60C3D2,
                5px 5px  #60C3D2,
                6px 6px  #60C3D2;
    
    }


#contact{
  position:relative;
  font-size:.9em;
  left:100px;
  line-height:5px;
  padding:1px;
  text-align:center;
}

#contact-title{
  text-emphasis:strong;
  position:relative;
  text-decoration:underline;
}

.contact-link {
color:#60C3D2
}

a{color:#60C3D2;}

a:hover{color:#60C3D2;}

#carousel-background{
  /* background-color:#60C3D2; */
  padding-bottom:20px;
  padding-top: 20px; 
  margin-left: 100px;
  margin-right: 100px;
  opacity:.9;
  
}
/* 
  #about-background{background-color:#39B5C6;
  position:relative;
  padding-left:20px;
  padding-right:20px;
right:20px;} */

#about-me {
  
  position: relative;
  top: -25px;
}

.carousel-caption{
background-color:white;
opacity:.9;
color:black;
border-radius:15px 50px 30px
}

.bg-light{
  background-color:#2d2113
  !important}

  .skills{font-size:20px;}


  .skills{
    list-style:circle;
    color:#60C3D2;
  }